.edit-form {
    margin-top: 60px;
}
.counter {
    margin: 0;
    font-size: 2rem;
    padding: 26px 0 14px;
}
.table>thead>tr>th,
.table>tbody>tr>td {
    vertical-align: middle;
}
.checkbox input[type="checkbox"].status {
    position: static;
    margin-left: 0;
}
.add-btn__col {
    padding: 0;
}
.btn__show-more {
    width: 100%;
    margin-bottom: 20px;
}
.hide {
    display: none;
}
.confirm__wrap {
    z-index: 100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0, .7);
}
.confirm__window {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 250px;
    padding: 30px;
    border: 2px solid #eee;
    border-radius: 6px;
    background-color: #fff;
    transform: translate(-50%,-50%);
}
.confirm__title {
    margin: 20px 0;
    text-align: center;
    font-size: 2rem;
}
.confirm__btns {
    text-align: center;
    padding: 30px 0;
}
.confirm__btn--yes,
.confirm__btn--no {
    width: 80px;
}
.status__cell {
    position: relative;
}
.notify__comment {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    padding: 0;
    text-align: center;
    background-color: #eee;
    border: 2px solid #999;
    border-radius: 6px;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.notify__close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border: 2px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.notify__close:hover {
    background-color: transparent;
    color: #999;
    border-color: #999;
}
.notify__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    margin: 0;
}
.notify__comment--show {
    z-index: 80;
    width: 200px;
    height: 150px;
    padding: 20px;
    opacity: 1;
}