<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Angular with Webpack</title>
	<link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>

	<div id="todoApp" ng-controller="MainCtrl as main">
		<confirm confirm-trigger="main.confirmTrigger"
				 remove="main.remove()"
				 cancel-edit="main.cancelEdit()">
		</confirm>
		<div class="container">
			<div class="col-md-10 col-md-offset-1">
				<div class="row" ng-if="!main.showForm">
					<div class="col-md-6">
						<h1>My ToDo App</h1>
					</div>
					<div class="col-md-6">
						<p class="counter text-right">
							Незавершенных задач: <span ng-bind="(main.todoArr | filter : {state: '!done'}).length"></span>
						</p>
					</div>
					<div class="table__wrap">
						<table id="toDoList" class="table table-striped">
							<col style="width: 10%">
							<col style="width: 35%">
							<col style="width: 15%">
							<col style="width: 20%">
							<col style="width: 20%">
							<thead>
							<tr>
								<th>Статус</th>
								<th>
									Задача
									<button class="sort btn btn-default" title="Sort UP" ng-click="main.sortByName(false)">
										<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
									</button>
									<button class="sort btn btn-default" title="Sort DOWN" ng-click="main.sortByName(true)">
										<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
									</button>
								</th>
								<th>Исполнитель</th>
								<th>
									Дата
									<button class="sort btn btn-default" title="Sort UP" ng-click="main.sortByDate(false)">
										<span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
									</button>
									<button class="sort btn btn-default" title="Sort DOWN" ng-click="main.sortByDate(true)">
										<span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
									</button>
								</th>
								<th>Управление</th>
							</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in main.trimmedArr track by item.id" ng-class="{ danger: item.fullDay }" data-row="{{ item.id }}">
									<td class="status__cell">
										<p ng-bind-template="{{ ::main.statesOfProgress[item.state] }}"></p>
										<todo-comment item="item"></todo-comment>
										<!--<div class="notify__comment" ng-if="item.state == 'partial'">-->
											<!--<span class="notify__close">X</span>-->
											<!--<p class="notify__text" ng-bind-template="{{ item.comment }}"></p>-->
										<!--</div>-->
										<!--<button class="btn btn-default notify__btn" ng-if="item.state == 'partial'">Подробнее</button>-->
									</td>
									<td ng-bind-template="{{ item.name }}"></td>
									<td ng-bind-template="{{ item.user }}"></td>
									<td ng-bind-template="{{ item.strDate }}"></td>
									<td>
										<button class="edit btn btn-success" ng-click="main.editOrCreate(item)" title="Edit">
											<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
										</button>
										<button class="delete btn btn-danger" ng-click="main.showConfirm(item)" title="Remove">
											<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
										</button>
									</td>
								</tr>
							</tbody>
						</table>
						<show-more amount="3" filtered-todos="main.filteredTodos" trimmed-arr="main.trimmedArr"></show-more>
					</div>

					<div class="col-md-3 add-btn__col">
						<button class="add btn btn-info btn-lg" ng-click="main.editOrCreate()" title="Add new task">
							Новая задача
						</button>
					</div>
					<div class="col-md-3">

					</div>
					<div class="col-md-6 text-right">
						<span>Фильтр: </span>
						<div class="btn-group" role="group" aria-label="...">
							<button
									type="button"
									class="btn btn-default"
									ng-repeat="(key, val) in main.statesOfProgress"
									ng-click="main.stateFilter(key)"
									ng-bind-template="{{ val }}">
							</button>
							<button type="button" class="btn btn-default" ng-click="main.stateFilter()">Все</button>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
				<div class="row" ng-if="main.showForm">
					<h2 ng-if="main.showAddForm">Новая задача</h2>
					<h2 ng-if="!main.showAddForm">Редактирование задачи</h2>
					<ng-form class="edit-form form" name="editForm" novalidate>
						<div class="form-group">
							<label for="name">Опишите задачу</label>
							<input type="text"
								   class="form-control"
								   id="name"
								   placeholder="Name"
								   ng-model="main.currentItem.name"
								   required/>
						</div>
						<div class="form-group">
							<label for="date">Введите дату выполнения</label>
							<input type="date"
								   class="form-control"
								   id="date"
								   placeholder="Date"
								   ng-model="main.currentItem.date"
								   required/>
						</div>
						<div class="form-group">
							<label for="users">Выберите исполнителя</label>
							<select id="users" class="form-control" ng-model="main.currentItem.user" required>
								<option ng-repeat="user in main.users" value="{{ user.name }}" ng-bind-template="{{ user.name }}"></option>
							</select>
						</div>
						<div class="form-group">
							<label for="state">Статус выполнения</label>
							<select id="state" class="form-control" ng-model="main.currentItem.state" required>
								<option
										ng-repeat="(key, val) in main.statesOfProgress"
										value="{{ key }}"
										ng-bind-template="{{ val }}">
								</option>
							</select>
						</div>
						<div class="form-group" ng-if="main.currentItem.state == 'partial'" required>
							<label for="comment">Комментарий</label>
							<textarea id="comment" class="form-control" rows="3" ng-model="main.currentItem.comment"></textarea>
						</div>
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="main.currentItem.fullDay"> Задача на весь день?
							</label>
						</div>
						<button class="btn btn-success" ng-click="main.saveEdit(main.currentItem)" title="Save" ng-disabled="editForm.$invalid">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						</button>
						<button class="btn btn-danger" ng-click="main.cancelEdit()" title="Cansel">
							<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
						</button>
					</ng-form>
				</div>
			</div>
		</div>
	</div>

    <script src="bundle.js"></script>
</body>
</html>
