<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="exampleApp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

	<script>
		angular.module("exampleApp", [])
			 .controller("defaultCtrl", function ($scope, $timeout) {
			    $scope.phone = "123";
			 	$scope.todos = [
					 { action: "Get groceries", complete: false },
					 { action: "Call plumber", complete: false },
					 { action: "Buy running shoes", complete: true },
					 { action: "Buy flowers", complete: false },
					 { action: "Call family", complete: false }];

			 })
        .directive("defaultDir", [function ()
        {
            return {
                require: ['defaultDir'],
                restrict: "E",
                scope: {
                    phone: '=',
                    todos: '<'
                },
                templateUrl: '/templates/defaultTemplate.html',
                controller: function()
                {
                    this.Validate = function (value)
                    {
                        if (value.length != 8) {
                            return false
                        }
                        else {
                            return true;
                        }

                    }
                },
                link: function (scope, elem, attr, ctrl) {

                }
            }
        }]);
	</script>

	<style>
		td > *:first-child {
			font-weight: bold;
		}

		.table-striped > tbody > tr:nth-child(odd) > td,
		.table-striped > tbody > tr:nth-child(odd) > th {
			background-color: #999;
		}

	</style>

</head>
<body>

	<div id="todoPanel" class="panel" ng-controller="defaultCtrl">
		<h3 class="panel-header" >{{name}}</h3>

        <default-dir phone="phone" todos="todos"></default-dir>
	</div>

</body>
</html>
